.list
{
    margin-top: 15px;
}
.alphapetic
{
    padding: 3px 10px;
    margin-top: 2px;
    color: black;
    font-family: sans-serif;
    background-color: #f1f1f1;
    width: 620px;
    font-weight: bold;
}